@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}